<div class="container">

    <h1>
        Voice Recognition
        <span *ngIf="isTranslating">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </span>
    </h1>
    
    <span class="talking" *ngIf="isTalking">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <div class="lds-facebook"><div></div><div></div><div></div></div>
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </span>

    <div *ngIf="!isTranslating">
        <button *ngIf="!isTalking" class="start" (click)="startService()">Start</button>
        <button *ngIf="isTalking" class="stop" (click)="stopService()">Stop</button>
        <button *ngIf="isText && !isTalking" class="clear" (click)="clear()">Clear</button>

        <span *ngIf="service.text && !isTalking">
            <mat-form-field appearance="fill" class="dropdown">
                <mat-label>Select language</mat-label>
                <mat-select [disabled]="disableSelect.value" (selectionChange)="selectLanguage($event.value)">
                  <mat-option value="en" [disabled]="en">English</mat-option>
                  <mat-option value="ar" [disabled]="ar">عربي</mat-option>
                  <mat-option value="es" [disabled]="es">Spain</mat-option>
                </mat-select>
            </mat-form-field>
            <button *ngIf="en || ar || es" class="translate" (click)="translate()">Translate</button>
        </span>
    </div>

    <p *ngIf="!isTranslating">{{service.text}}</p>

</div>